[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
allennlp = "==1.0.0"
networkx = "==2.4"
transitions = "==0.8.0"
allennlp-models = "==1.0.0"
termcolor = "==1.1.0"
graphviz = "*"

[requires]
python_version = "3.7"
